h1 {
    text-align: center;
    font-size: 3.5em;
    margin: 0;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #333;
    color: #fff;
}

.tiles {
    width: 40%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

@media screen and (max-width: 1120px) {
    .tiles {
        width: 60%;
    }
}

@media screen and (max-width: 900px) {
    .tiles {
        width: 75%;
    }
}

@media screen and (max-width: 768px) {
    .tiles {
        width:80%;
    }
}


.tile {
    width: 23%;
    aspect-ratio : 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

@media screen and (max-width: 420px) {
    .tile {
        width: 31%;
    }
}

.red {
    background-color: #f00;
}

.blue {
    background-color: #00f;
}

.green {
    background-color: #0f0;
}

.yellow {
    background-color: #ff0;
}

.orange {
    background-color: #f90;
}

.purple {
    background-color: #90F;
}

.pink {
    background-color: #f5f;
}

.brown {
    background-color: #a52a2a;
}

.not-revealed {
    background-image: none !important;
    background-color: #eee;
}